.wrapper {
  padding: 0 378px;
}

.background-intro {
  background: url("../img/inrto-bg.png") no-repeat;
  background-size: cover;
  position: relative;
}

/*.hidden{
  display: none;
}*/

.logo {
  margin-top: 21px;
}

.header-block {
  display: flex;
  justify-content: space-between;
}

.social-icons-cards {
  margin-top: 25px;
  margin-right: 29px;
}

.social-icons-cards-mobile {
  display: none;
}

.sotial-icons {
  margin-right: 20px;
}

.sotial-icons:last-child {
  margin-right: 0;
}

.burger-menu {
  margin-top: 30px;
}

.header-block_nav {
  display: flex;
}

.inrto-block {
  display: flex;
}

.intro-list {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: -170px;
}

.active-ellipse {
  margin-left: 72px;
}

.Ellipse {
  padding-bottom: 20px;
}

.intro-title {
  position: relative;
  z-index: 3;
  margin-top: 108px;
  max-width: 780px;
  font-size: 35.172px;
  color: #fff;
  line-height: 140%;
  font-family: Furore;
  margin-bottom: 51px;
}

.intro-title span {
  color: #ee562f;
}

.intro-desc {
  position: relative;
  z-index: 2;
  display: flex;
  max-width: 744.104px;
  font-family: Raleway;
  color: #fff;
  font-size: 27px;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 93px;
}

.intro-desc::before {
  content: url("../img/icons/career.svg");
  display: block;
  margin-right: 30px;
}
.intro-btn_block {
  position: relative;
  z-index: 3;
  display: flex;
}

.intro-btn {
  background: linear-gradient(261deg, rgba(255, 255, 255, 0.15) -15.81%, rgba(255, 255, 255, 0.00) 114.52%), #EE562F;
  padding: 30px 75px;
  color: #fff;
  font-family: Furore;
  border: none;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin-bottom: 144px;
}

.intro-btn-desc {
  display: flex;
  max-width: 203px;
  margin-top: 10px;
  margin-left: 15px;
  font-family: Raleway;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.36px;
}

.intro-btn-desc::before {
  display: block;
  content: url("");
  width: 2px;
  height: 75px;
  margin-right: 15px;
  background: #ec6a49;
}

.intro-block-mobile {
  display: none;
}

.intro-block-rigth {
  display: flex;
}

.rigth-form {
  display: flex;
  position: absolute;
  top: 261px;
  right: 343px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(
      133deg,
      rgba(255, 255, 255, 0) -8.04%,
      rgba(255, 255, 255, 0.15) 50.06%,
      rgba(255, 255, 255, 0) 92.45%
    ),
    #353535;
  border-radius: 15px;
  width: 252px;
  height: 154px;
}

.rigth-form-mobile {
  display: none;
}

.rigth-form_name {
  display: inline-flex;
  width: 192px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background: linear-gradient(
      226deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #ee562f;
  color: #fff;
  font-size: 20px;
  line-height: 120%;
  font-family: Raleway;
  font-weight: 600;
  margin-bottom: 10px;
}

.rigth-form_desc {
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  opacity: 0.5;
}

.intro-list li {
  display: flex;
}

.list-desc {
  color: #fff;
  display: flex;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  margin-left: 24px;
  font-family: Raleway;
}

.intro-businessman {
  position: absolute;
  bottom: 0;
  right: 77px;
  z-index: 2;
}

.mouse {
  position: absolute;
  z-index: 3;
  right: 262px;
  bottom: 0;
}

@media (max-width: 1840px) {
  .wrapper {
    padding: 0 135px;
  }
  .intro-list{
    right: -165px;
  } 

}

@media (max-width: 1640px){
  .wrapper {
    padding: 0 28px;
  }
  .rigth-form{
    top: 148px;
    right: 227px;
  }
  .intro-businessman{
    left: 206px;
    max-width: 1200px;
  }
  .mouse{
    right: 161px;
  }

}

@media (max-width: 1340px){
  .rigth-form{
    right: 224px;
  }
  
  .intro-businessman {
    left: 271px;
    max-width: 1000px;
    width: 100%;
   }
   .mouse {
    right: 150px;
  }
}


@media (max-width: 1240px) {
  .inrto-block{
    flex-direction: column-reverse;
  }
  .wrapper {
    padding: 0px 192px;
  }
  .background-intro {
    width: 100%;
  }
  .intro-btn {
    margin-bottom: 5px;
  }
  .intro-businessman {
   max-width: 1300px;
   width: 100%;
   position: relative;
   left: -200px;
  }
  .intro-block-rigth{
    position: relative;
  }
  .rigth-form {
    top: 71px;
    right: 244px;
  }
  .inrto-block {
    flex-direction: column;
  }
  .mouse{
    right: 175px;
  }

}

@media (max-width: 1280px) {
  .wrapper {
    padding: 0px 181px;
  }
}

@media (max-width: 1090px){
  .intro-list{
    display: none;
  }
  .mouse{
    display: none;
  }
}

@media (max-width: 1180px){
  .wrapper {
    padding: 0px 100px;
  }
  .hidden{
    display: block;
  }
}

@media (max-width: 890px) {
  .wrapper {
    padding: 0px 80px;
  }
  .intro-title {
    margin-top: 75px;
    font-size: 25.924px;
    margin-bottom: 43px;
  }
  .intro-desc {
    display: none;
  }
  .intro-btn_block {
    display: none;
  }
  .intro-block-mobile {
    display: block;
    border-radius: 15px;
    padding: 30px 25px 30px 25px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: linear-gradient(
        133deg,
        rgba(255, 255, 255, 0) -8.04%,
        rgba(255, 255, 255, 0.15) 50.06%,
        rgba(255, 255, 255, 0) 92.45%
      ),
      #353535;
  }

  .intro-desc-mobile {
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    font-family: Raleway;
    margin-bottom: 30px;
  }

  .intro-btn-mobile {
    display: block;
    margin: 0 auto;
    color: #fff;
    font-size: 12px;
    padding: 20px 53px 21px 52px;
    background: linear-gradient(
        261deg,
        rgba(255, 255, 255, 0.15) -15.81%,
        rgba(255, 255, 255, 0) 114.52%
      ),
      #ee562f;
    line-height: 160%;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border: none;
    margin-bottom: 10px;
  }

  .intro-mobile-line {
    width: 100%;
    height: 2px;
    background: #ec6a49;
    margin-bottom: 10px;
  }

  .intro-btn-desc-mobile {
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.28px;
    opacity: 0.6;
  }
}

@media (max-width: 781px) {
  .rigth-form {
    top: 33px;
    right: 20px;
  }
  .intro-businessman{
    left: -108px;
  }
  .intro-list {
    display: none;
  }

  .mouse {
    display: none;
  }
}

@media (max-width: 750px) {
  .logo {
    display: none;
  }
  .header-block_nav {
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 581px){
  .intro-businessman {
    left: -120px;
}
  .rigth-form{
    right: 3px;
  }
}


@media (max-width: 550px) {

  .social-icons-cards {
    display: none;
  }
  .social-icons-cards-mobile {
    margin-top: 27px;
    display: flex;
  }
  .sotial-icons-mobile {
    margin-left: 25px;
  }

  .rigth-form {
    display: none;
  }

  .rigth-form-mobile {
    position: absolute;
    top: 24px;
    right: 27px;
    border-radius: 15px;
    padding: 10px;
    display: block;
    max-width: 174px;
    height: 103px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: linear-gradient(
        133deg,
        rgba(255, 255, 255, 0) -8.04%,
        rgba(255, 255, 255, 0.15) 50.06%,
        rgba(255, 255, 255, 0) 92.45%
      ),
      rgba(53, 53, 53, 0.8);
    backdrop-filter: blur(10px);
  }

  .rigth-form_name-mobile {
    color: #fff;
    font-family: Raleway;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 12px;
  }

  .rigth-form_desc-mobile {
    color: #fff;
    opacity: 0.5;
    text-align: center;
    font-family: Raleway;
    font-size: 13px;
    font-weight: 400;
    line-height: 140%;
  }
}

@media (max-width: 480px){
  .wrapper {
    padding: 0px 15px;
  }
}

@media (max-width: 390px){
  .wrapper {
    padding: 0px 15px;
  }
  .sotial-icons-mobile {
    margin-left: 19px;
  }
  .intro-btn-desc-mobile{
    text-align: center;
  }
  .rigth-form-mobile {
    top: 18px;
    right: 10px;
  }
  .intro-businessman {
    left: -97px;
  }
  .intro-title{
    margin-top: 50px;
    font-size: 20.924px;
  }
  .intro-block-mobile{
    padding: 30px 15px 11px 15px
  }
}

@media (max-width: 320px){

}


.calculation{
  padding-top: 120px;
  background: url("../img/section-calculation/calculation-backround.png") no-repeat;
  background-size: cover;
}

.calculation-block{
  position: relative;
  display: flex;
}

.calculation-block-left{
  position: relative;
  z-index: 2;
}

.calculation-right_content{
  display: flex;
}

.calculation-bg{
  position: absolute;
  top: 0;
  right: -128px;
}

.calculation-title{
  color: #444;
  font-family: Furore;
  font-size: 48px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 2.4px;
  margin-bottom: 20px;
}

.calculation-line{
  max-width: 428px;
  height: 1px;
  opacity: 0.4;
  margin-bottom: 30px;
}

.calculation-desc_top{
  color: #EE562F;
  font-family: Raleway;
  max-width: 428px;
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 85px;
}

.calculation-numbers_block{
  position: relative;
  margin-bottom: 98px;
  max-width: 303px;
}

.calculation-numbers{
  margin-right: 32px;
}

.calculation-numbers:last-child{
  margin-right: 0;
}

.calculation-arrow{
  position: absolute;
  left: 55px;
  bottom: 0;
}

.calculation-arrow-2{
  position: absolute;
  right: 62px;
  top: 0;
}

.calculation-numbers_color{
  transition: all 300ms ease-in-out;
}

.active-numbers{
  fill: #EE562F;
}

.calculation-numbers-3 svg::after{
  content: url("../img/section-calculation/icons-calcilation/Arrow-2.svg");
}


.calculation-desc_bottom{
  max-width: 382px;
  width: 100%;
  color: #444;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 85px;
}

.calculation-btn-left{
  background: linear-gradient(261deg, rgba(255, 255, 255, 0.15) -15.81%, rgba(255, 255, 255, 0.00) 114.52%), #E9552F;
  padding: 19px 38px;
  color: #FFF;
  font-family: Furore;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  border: none;
  margin-bottom: 105px;
}

.calculation-right_desc{
  position: absolute;
  right: 0;
  top: 135px;
}

.calculation-desc_contact{
  color: #EE562F;
  max-width: 212px;
  width: 100%;
  text-align: center;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 32px;
}

.calculation-form{
  display: block;
  max-width: 234px;
  border-radius: 15px;
  padding: 18px 20px 32px 20px;
  background: linear-gradient(226deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.00) 100%), #333;
  margin-bottom: 28px;
}

.calculation-question-btn{
  border: 1.368px solid #444;
  color: #444;
  padding: 19px 45px;
  font-size: 14px;
  font-family: Furore;
  font-weight: 400;
  line-height: 160%;
  background: none;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.calculation-right-mobile{
  display: none;
}

.calculation-name{
  border-radius: 5px;
  color: #FFF;
  font-size: 20px;
  font-family: Raleway;
  text-align: center;
  font-weight: 600;
  line-height: 120%;
  background: linear-gradient(226deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%), #EE562F;
  padding: 10px;
  margin-bottom: 16px;
}

.calculation-form_bottom{
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  opacity: 0.5;
}

.calculation-form_bottom::before{
  content: url("../img/section-calculation/Rectangle.png");
  margin: 0 auto;
}

.list-rigth{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 147px;
  right: -209px;
}

.active-item{
  display: flex;
}

.active-item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-number{
  margin-left: -35px;
  margin-right: 20px;
}

.list-item{
  margin-bottom: 25px;
}

.list-item:last-child{
  margin-bottom: 0;
}

.item-desc{
  color: #444;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}

.calculation_mouse-black{
  position: absolute;
  right: -121px;
  bottom: 0;
}


@media (max-width: 1740px){
  .calculation-bg{
    right: 71px;
  }
  .calculation-right_desc {
    right: 219px;
  }
  .list-rigth {
    right: 30px
  }
  .calculation_mouse-black {
    right: 114px;
  }
}

@media (max-width: 1440px){
  .calculation-bg{
    right: -20px;
  }
  .calculation-right_desc {
    right: 176px;
  }
  .list-rigth {
    right: 9px
  }
  .calculation_mouse-black {
    right: 90px;
  }
  .calculation-question-btn{
    padding: 19px 30px;
  }
}

@media (max-width: 1240px){
  .calculation-block{
    flex-direction: column;
  }
  .calculation-bg{
    position: relative;
    max-width: 1238px;
    width: 100%;
    left: -255px;
  }
  .calculation-right_desc {
    right: 441px;
    position: relative;
    top: 0;
  }
  .list-rigth {
    right: 75px;
  }
  .calculation_mouse-black {
    right: 150px;
  }
}

@media (max-width: 1090px){
  .list-rigth{
    display: none;
  }
  .calculation_mouse-black{
    display: none;
  }
  .calculation-block-left{
    margin: 0 auto;
  }
}

@media (max-width: 1040px){
  .calculation-right_desc{
    display: none;
  }
  .calculation-bg{
    left: 0px;
  }
  .calculation-btn-left{
    display: none;
  }
  .calculation-right-mobile{
    display: block;
    max-width: 360px;
    margin: 0 auto;
    margin-top: -18%;
    position: relative;
    z-index: 2;
    border-radius: 15px;
    background: linear-gradient(226deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.00) 100%), #333;
    padding: 40px 60px;
    margin-bottom: 60px;
  }
  .calculation-mobile-block{
    border-radius: 5px;
    background: linear-gradient(226deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%), #EE562F;
    padding: 11px 26px;
    margin-bottom: 25px;
  }
  .calculation-mobile-desc{
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%; 
  }
  .calculation-mobile-signature{
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
  }
  .calculation-description_mobile{
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 25px;
  }
  .calculation-btn_mobile{
    display: block;
    margin: 0 auto;
    background: linear-gradient(261deg, rgba(255, 255, 255, 0.15) -15.81%, rgba(255, 255, 255, 0.00) 114.52%), #E9552F;
    padding: 19px 35px;
    border: none;
    color: #FFF;
    font-family: Furore;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .calculation-question-btn_mobile{
    display: block;
    margin: 0 auto;
    border: 1.368px solid #FFF;
    background: none;
    padding: 19px 46px;
    color: #FFF;
    font-family: Furore;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%; 
    letter-spacing: 1.4px;
    text-transform: uppercase;
  }
}

